
.grey {
    background: grey;
    height: 2000px;
    margin-top: 600px;
    margin-bottom: 1600px;
}

.sticky {
    position: sticky;
    top: 100px;
    float: right;
}

.left-text {
    float: left;
    color: white;
    padding: 20px;
}